html{
    font-size: 62.5;

}
body{
    /* font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif; */

    font-family: "Zen Maru Gothic", sans-serif;
}